---
title: "Авторизация"
inputs: [
{label: "Логин", type: "text", alert: "Неверный логин", name: "login"},
{label: "Пароль", type: "password", name: "password"}
]
buttonValue: "Авторизоваться"
css:
- signForm.css
- styles.css
- button.css
- styledInput.css
---
{{!< layout}}
<section class="form-wrap wrapper">
    <form class="form-wrap__form form">
        <div class="form__title">Вход</div>
        <div class="form__inputs-container">
            {{#each inputs}}
                {{> styledInput label=this.label type=this.type name=this.name}}
            {{/each}}
        </div>
        <div class="form__plug form__plug--login"></div>
        <div class="form__submit-container">
            {{> button classes="btn btn__blue btn__login link" value=buttonValue link="chat.hbs"}}
            <a class="link" >Нет аккаунта?</a>
        </div>
    </form>
</section>

