.profile-data-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-gray-color);
}
.profile-data-input {
  text-align: end;
}