---
title: "Чат"
css:
- styles.css
- chatList.css
- search.css
---
{{!< layout}}
<div class="main-chat-container">
    {{>chatList}}
    {{>chatArea}}
</div>
<script src="../scripts/chat.js"></script>

