---
title: "Авторизация"
dataList: [
{name: "Старый пароль", placeholder: "password", type: "password"},
{name: "Новый пароль", placeholder: "password", type: "password"},
{name: "Повторите новый пароль", placeholder: "password", type: "password"}
]
css:
- styles.css
- buttonBack.css
- avatar.css
- profile.css
- profileDataElement.css
- button.css
---
{{!< layout}}

<section class="profile-container">
    {{>buttonBack}}
    <div class="profile-container-content">
        {{>avatar}}
        <div class="profileData">
            {{#each dataList}}
                {{>profileDataElement mode="enabled"}}
            {{/each}}
        </div>
        {{> button classes="btn btn__blue btn__save" value="Сохранить"}}
    </div>
</section>
