<div class="avatar">
    <div class="avatar__frame">
        <img class="avatar__empty-icon" src="../../static/icons/union.svg" width="40" alt="avatar">
        <span class="avatar__change-text">Поменять аватар</span>
    </div>
    <span class="avatar__name">Иван</span>
</div>