<div class="chat-list">
    <div class="chat-list__profile-button-container">
        <a class="link chat-list__profile-button" href="profile.hbs">Профиль ></a>
    </div>
    {{>search}}
    <div class="chat-list__chats-container"></div>
</div>