<div class="controls">
    <div class="controls__element">
        <a class="link controls__link" href="profileEdit.hbs">Изменить данные</a>
    </div>
    <div class="controls__element">
        <a class="link controls__link" href="passwordEdit.hbs">Изменить пароль</a>
    </div>
    <div class="controls__element">
        <a class="link controls__link controls__link--exit" href="/">Выйти</a>
    </div>
</div>