<div class="styled-input">
    <span class="styled-input__label">{{label}}</span>
    <input name={{name}} class="styled-input__input" type={{type}}>
    <span class="styled-input__alert">{{alert}}</span>
</div>